// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif: "Inter" !default;
$white: #FFFFFF;
$green: #00B262;
$grey: #A59B9B;
$light-grey: #EEEFF3;
$black-70: #464646;
$black: #343434;
